<div class="container" *ngIf="product">
  <div class="row">
      <div class="col-md-8">
        <img [src]="product?.image">
      </div>
      <div class="col-md-4">
        <p>{{product.brand}}</p>
        <h1>{{product.title}}</h1>
        <p>{{product.price}}</p>
        <p>{{product.description}}</p>
        <input type="number" [(ngModel)]="inputQty">
        <button (click)=addItemToShoppingCart()>ADD TO CART</button>
      </div>
  </div>
</div>


<ng-template #entry></ng-template>

<!-- https://hero-minimal-demo.mybigcommerce.com/mashiko-yaki-green-small-plate/ -->