<div class="container-fluid" *ngIf="product">
  <div class="row">
      <div class="col-md-8">
        <img [src]="product?.image">
      </div>
      <div class="col-md-4">
        <p>{{product.brand}}</p>
        <h1>{{product.title}}</h1>
        <p>{{product.price | currency}}</p>
        <p class="description-wrapper">{{product.description}}</p>
        <div>
          <div class="quantity-control-outter-wrapper">
            <input type="number" [(ngModel)]="inputQty">
            <div class="quantity-control-wrapper">
              <span class="increment-button" (click)="increaQuantity()">+</span>
              <span class="decrement-button" (click)="decreaseQuantity()">-</span>
            </div>
          </div>

          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{product.title}} has been successfully added to your cart.</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </ng-template>
          <button class="mainButtonStyle" (click)=addItemToShoppingCart(content)>ADD TO CART</button>
        </div>
      </div>
  </div>
</div>


<ng-template #entry></ng-template>