@import "../../../variables.scss";

img{
    width: 100%;
}
.row{
    padding-top: 35px;
    text-align:center;
}
input{
    background: $Clr-main-bg;
    outline: none;
    border: none;
    text-align: center;
    width: 50px;
    margin-right: 5px;
    float: left;
    height: 55px;
}
.quantity-control-wrapper{
    width: 30px;
    float: left;
}
.increment-button{
    display: block;
    background: $clr-btn-bg;
    text-align: center;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
    &:hover{
        background: $clr-main-hover;
        color:$clr-white;
    }
}
.decrement-button{
    display: block;
    background: $clr-btn-bg;
    text-align: center;
    height: 25px;
    margin-top: 5px;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
    &:hover{
        background:$clr-main-hover;
        color:$clr-white;
    }
}
.description-wrapper{
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 15px;
}
.mainButtonStyle{
    height: 55px;
}
.quantity-control-outter-wrapper{
    height: 55px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}