nav{
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul{
    padding: 0px;
    margin: 0px;
}
li{
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}
li:not(:first-child){
    padding-left: 30px;
}
.banner-wrapper img{
    width: 100%;
}

