<!-- USE SEMENTIC HTML -->
<div class="container">
  <div class="row" >
    <ng-container *ngFor="let product of endPoint; let i = index">
      <!--  -->
      <article class="product-item col-md-4">
        <div class="hover-wrapper">
            <img [src]="product.image">
            <div class="hover-items">
              <a [routerLink]="['product/', product.id]">View Details</a>
              <a >Add To Cart</a>
            </div>
        </div>

        <p class="light-text">{{product.brand}}</p>
        <p>{{product.title}}</p>
        <p class="light-text">{{product.price}}</p>
      </article>
      <!--  -->
    </ng-container>
  </div>
</div>