@import "../../../variables.scss";

.container-fluid{
    margin-top:30px;
}
a{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

article{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    img{
        position: relative;
        width: 100%;
    }
    img+p{
        padding-top:15px;
    }
    p{
        margin-bottom: 0px;//overwrite default value
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
a:first-child{
    margin-bottom: 5px;
}

.hover-wrapper{
    position: relative;
    cursor: pointer;
    a{
        cursor: pointer;
        background-color: $clr-main;
        border-color: $clr-main;
        color: $clr-white;
        display: block;
        padding: 10px;
        &:hover{
            background: $clr-main-hover; 
        }
    }
}

.hover-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    opacity: 0;
}
.hover-wrapper:hover .hover-items{
    opacity: 1;
}

.light-text{
    color: $clr-light;
}
.banner-wrapper{
    padding: 0px
}

.banner-wrapper img{
    width: 100%;
}
.trave-back{
    cursor: pointer;
    display: inline;
    &:hover{
        text-decoration: underline;
    }
}

