@import "../../../variables.scss";

.container-fluid{
    margin-top:30px;
}

article{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    cursor: pointer;
    img{
        position: relative;
        width: 100%;
        height: 300px;//todo: delete this once the image is edited by photoshop
    }
    img+p{
        padding-top:15px;
    }
    p{
        margin-bottom: 0px;//overwrite default value
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.hover-wrapper{
    position: relative;
    a{
        cursor: pointer;
        background-color: $clr-main;
        border-color: $clr-main;
        color: $clr-white;
        display: block;
        margin-bottom: 15px;
        padding: 15px;
        &:hover{
            background: $clr-main-hover; 
        }
    }
}

.hover-items{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    opacity: 0;
}
article:hover{
    .hover-items{
        opacity: 1;        
    }
}

.light-text{
    color: $clr-light;
}

